#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.game {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: black;
  margin: 30px;
}
.square{
  background-color: #888;
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.redCoin{
  width: 32px;
  height: 32px;
  background-color: red;
  border: 5px solid rgb(136, 0, 0);
  border-radius: 50%;
  margin-left: 2px;
}

.yellowCoin{
  width: 32px;
  height: 32px;
  background-color: rgb(181, 181, 40);
  border: 5px solid rgb(136, 136, 0);
  border-radius: 50%;
  margin-left: 2px;
}

.winner {
  
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}
.player{
  margin: 20px auto;  
}
